.promotion_area{
    height: auto;
    overflow: hidden;
    border-bottom:1px solid black;
    padding:5px;
}
.page_content{
    margin-top:-45px;
}
.titleContent{
    padding: 5px;
    
}
.container{
    /* background: rgba(9, 10, 12, 0.77); */
}
.bg_color{
    margin-top:30px;
    background: rgba(51, 51, 51, 0.92);
}

.promotion_area .detailLeft img{
    float: left;
   width: 100%;
   height: auto;
}

.promotion_area .detailLeft img:hover{
    cursor: pointer;
}

.promotion_area .detailLeft{
    float: left;
    width:100%;
    height: 100%;
    
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}
.promotion_area .detailRight{
    float: left;
    width:100%;
    height: 100%;
    padding:30px;
    overflow: hidden;
    
}

.titlePromotion{
    font-size: 1.2em;
    margin-bottom: 15px;
}
.desPromotion{
    font-weight: 100;
    overflow-y: hidden;
    height: calc( 100% - 26px );
}


.bg_color{
    border: 1px solid #F8EC5D;
}

.contentBotArea{
    float: left;
    width: 100%;
}

.titlePage{
    margin-top: -40px;
    color: white;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    font-weight: bolder;
    position: relative;
    z-index: 2;
}
.titleContentBot{
    background: #D10000;
    color: white;
    padding: 10px;
    margin-top:10px;
    float: left;
    
    width: 100%;
}
.titleLeft{
    float: left;
    color: white;
    font-size: 1.6em;

}
.viewmore{
    float: right;
    margin-top:6px;
    color:#E8CF01;
}
.dataContentBot{
    /* min-height: 500px; */
    float: left;
    width: 100%;
}

.bootCols{
    height:100px;
    margin:0;
    box-sizing:border-box;
    padding:5px;
    border:2px solid black;
    background-color:red;
  }
  .row{
      margin-left:0px;
      margin-right: 0px;
  }
  .newsArea{
      height: auto;
      margin-top: 10px;
      /* border: 2px solid red; */
      padding: 0px;
      min-height: 190px;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left:5px;
      padding-right:5px;
  }
  
  .cardNews{
    height: 100%;
    border: 2px solid #D2AE70;
  }
  .image-news{
      height: calc( 100% - 70px );
      background-size: cover;
      background-position: center;
  }
  .text-news{
      padding:10px;
      border-top:1px solid #D2AE70;
      color:white;
      min-height: 50px;
      
  }

    .pagination{
        margin-top:15px;
        color: white !important;
    }
    .ngx-pagination a, .ngx-pagination button {
        color: white !important;
    }
    .ngx-pagination a, .ngx-pagination button {
        color: white !important;
    }

    .promotion img{
        width: 100%;
    }
    .promotion_div{
        position: relative;
    }


    .mouse_hover:hover {
        transform: scale(1.1, 1.1);
        opacity: 1;
    }
    
    .mouse_hover {
        transition: 0.3s ease;
        cursor: pointer;
    }

    .slides li.carousel-item {
        position: relative;
        margin: 0 0px 0 0;
        overflow: hidden;
        color: #fff;
    }
    
    li.carousel-item:hover .carousel-heading-hover {
    opacity: 1;
    bottom: 0;
    }
    
    li.carousel-item:hover .top-carousel-heading {
    opacity: 0
    }
    
    li.carousel-news-item:hover .carousel-heading-hover {
    opacity: 1;
    bottom: 0;
    }
    
    li.carousel-news-item:hover .top-carousel-heading {
    opacity: 0
    }
    .carousel-item {
        display: block;
        overflow: hidden;
    }
    .top-carousel-img img {
        /*border: solid 2px #ffbf00;*/
        border-radius: 5px;
        margin-bottom: 10px;
      }

      .top-carousel-title-hover{
        position: relative;
        margin: 0 0px 0 0;
        overflow: hidden;
        color: #fff;
    }
    .top-carousel-title{
        color: #fff;
        font-size: 1.3em;
        margin-bottom: 15px;
    }
    .top-carousel-heading {
        position: absolute;
        bottom: 0;
        padding: 5%;
        text-align: center;
        width: 100%;
        opacity: 1;
        font-size: 12px;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        background-color: rgba(0, 0, 0, 0.52);
        margin-bottom: 10px;
        border-radius: 0px 0px 5px 5px;
      }
    .carousel-heading-hover {
        position: absolute;
        bottom: 100%;
        padding: 15% 5%;
        text-align: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        /* margin-top: 50px; */
        transition: .5s ease-in-out;
        background-color: rgba(0, 0, 0, 0.52);
        margin-bottom: 10px;
        border-radius: unset;
    }
    .product_type_simple {
        color: #ecd542;
        font-size: 25px;
      }




    .header_page{
        background-image: url("/assets/images/content/bgmenu.jpg");
        background-position: center center;
        background-size: cover;
        height: 170px;
    }
    .title_page{
        background-image: url("/assets/images/content/tabmenu.png");
        background-position: center center;
        background-size: cover;
        height: 50px;
        text-align: center;
        font-size: 1.5em;
        padding-top:5px;
        
    }
    @media screen and (min-width: 320px) {
        .title_page{
            margin-top: 154px;
        }
    }
    @media screen and (min-width: 375px) {
        .title_page{
            margin-top: 114px;
        }
    }
    @media screen and (min-width: 500px) {
        .title_page{
            margin-top: 74px;
        }
    }

    @media screen and (min-width: 768px) {
        .promotion_area .detailLeft{
            width:350px;
        }
        .promotion_area .detailRight{
            width: calc(100% - 350px);
        }
    }

    
    @media screen and (min-width: 1000px) {
        .title_page{
            background-image: url("/assets/images/content/tabmenu.png");
            background-position: center center;
            background-size: cover;
            height: 50px;
            text-align: center;
            font-size: 1.5em;
            padding-top:5px;
            margin-top: 0px;
        }
      }

@media screen and (min-width: 1024px) {
    .promotion img{
        width: unset;
        margin-left: calc( 50% - 320px );
    }
    .titleContent{
        padding: 50px;
    }
}
@media screen and (min-width: 1200px) {
    .promotion img{
        margin-left: calc( 50% - 320px );
    }
}
