<div class="container">


<div id="outer">
    <div class="win_game " id="inner">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">กิจกรรม</th>
                <th scope="col">คนร่วมรายการ</th>
                <th scope="col">คนถูกรางวัล</th>
                <th scope="col">view</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>10</td>
                <td>10</td>
                <td>คลิก</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>10</td>
                <td>100</td>
                <td>คลิก</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>10</td>
                <td>200</td>
                <td>คลิก</td>
              </tr>
            </tbody>
          </table>
    </div>
    <section class="columns">
        <div class="column">
            <h2 style="text-align: center;">นับไลค์ (LIKE)</h2>
            <div class="btn_event p-3 mb-2 bg-primary text-white">100</div>
          </div>
          
          <div class="column">
            <h2  style="text-align: center;">นับแชร์ (SHARE)</h2>
            <div class="btn_event p-3 mb-2 bg-primary text-white">20</div>
          </div>
          
          <div class="column">
            <h2  style="text-align: center;">นับคอมเม้น (COMMENT)</h2>
            <div class="btn_event p-3 mb-2 bg-primary text-white">10</div>
          </div>
    </section>

    <div class="win_game " id="inner">
        <table class="table" >
            <thead>
              <tr>
                <th scope="col">ชื่อ</th>
                <th scope="col">ลิ้ง</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">name 1</th>
                <td>link</td>
              </tr>
              <tr>
                <th scope="row">name 2</th>
                <td>link</td>
              </tr>
              <tr>
                <th scope="row">name 3</th>
                <td>link</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

</div>