<div  class="footerArea2">
        <div  class="container footer">
            <div  class="detail_right">
                <div class="logo_footer">
                    <div  class="menu_footer_">
                        <span  class="links_footer" routerLink="/page/howtoplay1" style="border-left: 0px !important;"  >วิธีเล่นคาสิโน</span>
                        <span  class="links_footer" routerLink="/page/howtoplay2" >วิธีการเล่นมวย</span>
                        <span  class="links_footer" routerLink="/page/howtoplay3"  >แนะนำการเล่นสล๊อต</span>
                        <span  class="links_footer" routerLink="/page/howtoplay4" >แนะนำเล่นหวย</span>
                        <span  class="links_footer" routerLink="/page/dooball" >ดูบอลสด</span>
                        <span  class="links_footer" routerLink="/page/resultfootball" >ผลบอลสด</span>
                        <span  class="links_footer" routerLink="/page/deposit"  >แจ้งฝาก</span>
                        <span  class="links_footer" routerLink="/page/withdraw"  >แจ้งถอน</span>
                        <span  class="links_footer" routerLink="/page/contact" style="border-right: 0px !important;"  >ติดต่อเรา</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div  class="footer_bot">
    <div  class="text_fotter_bot"> Copyright © 2019 UFAVIP9 ALL Rights Reserved. </div>
</div>