.tileDetail {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    height: auto;
    border: 1px solid #D10000;
    background: #D10000;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    clear: left;
}
.container{
    background: rgba(9, 10, 12, 0.77);
}
.titlePromotion{
    background: rgba(55, 57, 59, 0.144);
    margin-bottom: 5px;
}
.contentPageArea{
    background: rgba(51, 51, 51, 0.77);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top:30px ;
}
.bg_color{
    
}
.cycle_red{
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
}
.titlePage{
    margin-top: -40px;
    color: white;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    font-weight: bolder;
    position: relative;
    z-index: 2;
}
.navLink{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    height: auto;
    color: white;
    font-size: 1em;
    clear: left;
    font-weight: 100 !important;
}
.img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.navFirst:hover{
    cursor: pointer;
}

.navFirst{
    float: left;
    margin-right: 5px;
    /* text-decoration: underline; */
}

.contentBotArea{
    float: left;
    width: 100%;
}

.titleContent{
    border-top:1px solid #D2AE70;
    padding-top:10px;
}

.titleContentBot{
    background: #D10000;
    color: white;
    padding: 10px;
    margin-top:10px;
    float: left;
    width: 100%;
}

.titleLeft{
    float: left;
    color: white;
    font-size: 1.6em;

}
.viewmore{
    float: right;
    margin-top:6px;
    color:#E8CF01;
}
.dataContentBot{
    /* min-height: 500px; */
    float: left;
    width: 100%;
}

.bootCols{
    height:100px;
    margin:0;
    box-sizing:border-box;
    padding:5px;
    border:2px solid black;
    background-color:red;
  }
  .row{
      margin-left:0px;
      margin-right: 0px;
  }
  .newsArea{
      height: auto;
      margin-top: 0px;
      /* border: 2px solid red; */
      padding: 0px;
      min-height: 190px;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left:5px;
      padding-right:5px;
  }
  
  .cardNews{
    height: 100%;
    border: 2px solid red;
  }
  .image-news{
      height: calc( 100% - 70px );
      background-size: cover;
      background-position: center;
  }
  .text-news{
      padding:10px;
      border-top:1px solid red;
      color:white;
      min-height: 50px;
      
  }
  .image-news{
      margin-bottom: 15px;
  }
  .newsArea:hover {
    cursor: unset !important;
    -webkit-filter: unset!important;
    filter: unset!important;
    }

    .header_page{
        background-image: url("/assets/images/content/bgmenu.jpg");
        background-position: center center;
        background-size: cover;
        height: 170px;
    }
    .title_page{
        background-image: url("/assets/images/content/tabmenu.png");
        background-position: center center;
        background-size: cover;
        height: 50px;
        text-align: center;
        font-size: 1.5em;
        padding-top:5px;
        
    }
        @media screen and (min-width: 320px) {
            .title_page{
                margin-top: 154px;
            }
        }
        @media screen and (min-width: 375px) {
            .title_page{
                margin-top: 114px;
            }
        }
        @media screen and (min-width: 500px) {
            .title_page{
                margin-top: 74px;
            }
        }
        @media screen and (min-width: 1000px) {
            .title_page{
                background-image: url("/assets/images/content/tabmenu.png");
                background-position: center center;
                background-size: cover;
                height: 50px;
                text-align: center;
                font-size: 1.5em;
                padding-top:5px;
                margin-top: 0px;
            }
        }
@media screen and (min-width: 1200px) {

    
}