<!-- <div  class=" navbar-collapse" >
    <ul class="navbar-nav subMenu">
      <li   class="nav-item nav-item-sub1  ">
          <a   class="nav-link js-scroll-trigger tab-menu"  ></a>
      </li>
      <li   class="nav-item nav-item-sub2  ">
          <a   class="nav-link js-scroll-trigger tab-menu"  ></a>
      </li>
      <li   class="nav-item nav-item-sub3  ">
          <a   class="nav-link js-scroll-trigger tab-menu" ></a>
      </li>
      <li   class="nav-item nav-item-sub4  ">
          <a   class="nav-link js-scroll-trigger tab-menu"  ></a>
      </li>
    </ul>
</div> -->

<div class="home_menu">
    <div class="container"> 
        <div class="text_menu">ยินดีต้อนรับเข้าสู่เว็บ <span class="text_gold_menu">CONNER888.COM</span> คาสิโน กีฬา ออนไลน์</div>
        <div class="text_menu2 text_gold_menu">ดีที่สุดอันดับ 1 ของคนไทย</div>

        <div class="area_menu">
            <div class="row icon_menu">
                <div class="col-6 icon_menu_btn" routerLink="/page/register"  ><img src="/assets/images/menu/re1.png"  class="icon_menu_home" >
                    <div class="menu_title">สมัครสมาชิก</div>
                    <div class="menu_des">สมัครง่ายไม่ยุ่งยาก แนะนำใส่ข้อมูลจริง</div>
                </div>
                <div class="col-6 icon_menu_btn" routerLink="/page/howtoplay"  ><img src="/assets/images/menu/re3.png"  class="icon_menu_home" >
                    <div class="menu_title">เข้าเล่นเกมส์</div>
                    <div class="menu_des">สนุกกับเกมส์/คาสิโน/บอล/มวย/หวย</div>
                </div>
            </div>
            <div class="row icon_menu">
                    <div class="col-6 icon_menu_btn" routerLink="/page/deposit"  ><img src="/assets/images/menu/re2.png"  class="icon_menu_home" >
                        <div class="menu_title">ทำรายการฝาก</div>
                        <div class="menu_des">ทำรายการฝากขั้นต่ำ 100 บาท</div>
                    </div>
                    <div class="col-6 icon_menu_btn" routerLink="/page/withdraw"  ><img src="/assets/images/menu/re4.png"  class="icon_menu_home" >
                        <div class="menu_title">ทำรายการถอน</div>
                        <div class="menu_des">ทำรายการถอนออกขั้นต่ำ 300 บาท</div>
                    </div>
            </div>
        </div>
        
    </div>
</div>
<!-- routerLink="{{todo.tag_nav}}" -->